/*---- General ----*/
.btn {
    background-image: linear-gradient(#434343, #af0028);
}

@media screen and (max-width: 500px){
    h1 {
        font-size: xx-large;
    }

    h3 {
        font-size: x-large;
    }
}


h4 {
    font-size: calc(90% + .5vw);
}

#logo-ak {
    height: 70px;
    margin-left: 10px;
}

#profil {
    border-radius: 1000px;
    height: 250px;
    margin-top: 70px;
}

.icon-main {
    height: 70px;
    width: 70px;
    z-index: 9999;
}

strong {
    color: #870003;
}

a {
    color: #ff0c01;
}


/*---- Navigation ----*/

nav {
    background-image: linear-gradient(#0f0003, #6a1c1d);
}


/*---- Separator ----*/

.separator {
    text-align: center;
}

.shadow-separator {
    height: 20px;
    margin: 40px auto;
    overflow: hidden;
    width: 1200px;
}
.shadow-separator:after {
    border-radius: 100%;
    box-shadow: 0 0 10px #333333;
    content: "";
    display: block;
    height: inherit;
    position: relative;
    top: 100%;
}

@media screen and (min-width: 300px) and (max-width: 1100px) {
    .shadow-separator {
        height: 20px;
        margin: 40px auto;
        overflow: hidden;
        width: 200px;
    }
    .shadow-separator:after {
        border-radius: 100%;
        box-shadow: 0 0 10px #333333;
        content: "";
        display: block;
        height: inherit;
        position: relative;
        top: 100%;
    }
}

/*---- Letter drop ----*/
@media screen and (max-width: 500px) {
    .letterDrop {
        position: relative;
        top: 0;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        opacity: 0.8;
        transform: rotateX(-90deg);
        animation: letterDrop 1.2s ease 1 normal forwards;
    }
}

.letterDrop {
    position: relative;
    top: 0;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.8;
    transform: rotateX(-90deg);
    animation: letterDrop 1.2s ease 1 normal forwards;
}

@keyframes letterDrop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.8;
        top: 3.75em;
        transform: rotateX(-360deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(360deg);
    }
}


span:nth-child(2n) {
    color: #990f0d;
}

/*---- Skills ----*/


.list {
    margin: 0 auto;
    text-align: center;
}
.list__item {
    float: left;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: #284255;
    transition: opacity .25s;
    opacity: 1;
    text-align: center;
}
.link:not(.current):hover {
    opacity: .75;
}

/********
Utility
********/
.hidden {
    display: none;
}

.visible {
    display: block !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.current {
    color: #649a99;
    border: 0.1rem solid #649a99;
}

/*** Skills Section ***/

/*skill first part */
#skills {
    color: #284255;
}
#skills:after {
    display: block;
    content: '';
    clear: both;
}
#skills .fa-html5 {
    color: #cf4523;
}
#skills .fa-css3 {
    color: #025891;
}
#skills .fa-database {
    color: #284255;
}
#skills .list__item {
    height: 10rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23.5%;
}
#skills .list__item:last-of-type {
    margin-bottom: 5%;
}
#skills .list__item:hover {
    -webkit-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%);
    cursor: pointer;
}
#skills .list__item:nth-child(4n) {
    margin-right: 0;
}
@media (max-width: 1200px) {
    #skills .list__item {
        margin-right: 2%;
        margin-bottom: 2%;
        width: 32%;
    }
    #skills .list__item:nth-child(3n) {
        margin-right: 0;
    }
}
@media (max-width: 500px) {
    #skills .list__item {
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        width: 48.75%;
    }
    #skills .list__item:nth-child(2n) {
        margin-right: 0;
    }
}
#skills .list__item .wrapper {
    position: relative;
    height: 60%;
    /* bottom 20% is for text */
}
#skills .list__item .fa, #skills .list__item .icon {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    /* center into wrapper */
}
#skills .list__item h4 {
    position: relative;
    bottom: 5px;
}
#skills .list__item h4:hover {
    opacity: .75;
}

/* skill second part */

#skills2 {
    padding-top: 40px;
    padding-top: 1.5vh;
    color: #284255;
}
#skills2:after {
    display: block;
    content: '';
    clear: both;
}
#skills2 .fa-html5 {
    color: #cf4523;
}
#skills2 .fa-css3 {
    color: #025891;
}
#skills2 .fa-database {
    color: #284255;
}
#skills2 .list__item {
    height: 10rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23.5%;
}
#skills2 .list__item:last-of-type {
    margin-bottom: 5%;
}
#skills2 .list__item:hover {
    -webkit-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%);
    cursor: pointer;
}
#skills2 .list__item:nth-child(4n) {
    margin-right: 0;
}
@media (max-width: 1200px) {
    #skills2 .list__item {
        margin-right: 2%;
        margin-bottom: 2%;
        width: 32%;
    }
    #skills2 .list__item:nth-child(3n) {
        margin-right: 0;
    }
}
@media (max-width: 500px) {
    #skills2 .list__item {
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        width: 48.75%;
    }
    #skills2 .list__item:nth-child(2n) {
        margin-right: 0;
    }
}
#skills2 .list__item .wrapper {
    position: relative;
    height: 80%;
    /* bottom 20% is for text */
}
#skills2 .list__item .fa, #skills2 .list__item .icon {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    /* center into wrapper */
}
#skills2 .list__item h4 {
    position: relative;
    bottom: 5px;
}
#skills2 .list__item h4:hover {
    opacity: .75;
}


/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);

    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;

    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -36px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(135, 0, 3);
    z-index: 10;
}

.direction-r .flag:before {
    left: -45px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(243, 16, 28);
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
}

.desc {
    margin: 1em 0.75em 0 0;

    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }

    .flag {
        background: rgb(255,255,255);
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -6px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(135, 0, 3);
        z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245,245,245);
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        box-shadow: 0 0 1px rgba(0,0,0,0.20);

        z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;

        z-index: 15;
    }

}

@media screen and (min-width: 400px) and (max-width: 660px) {

    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }

}

/*---- Project ----*/

.panel .pad {
    padding: 0 15px;
}
.panel.flip .action {
    display: none;
}

.panel {
    width: 200px;
    height: 300px;
    margin: 20px;
    position: relative;
    display:inline-block;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.panel .front {
    z-index: 900;
    width: inherit;
    height: inherit;
    background: #fff;

    -moz-box-shadow: 0 1px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.1);
    box-shadow: 0 1px 15px rgba(0,0,0,0.1);

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    -o-transform: rotateX(0deg) rotateY(0deg);
    -o-transform-style: preserve-3d;
    -o-backface-visibility: hidden;

    -ms-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;

    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    background: #fff;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);

    -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.panel .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    background: #fff;
    border:1px solid #000;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    -o-transform: rotateY(-180deg);
    -o-transform-style: preserve-3d;
    -o-backface-visibility: hidden;

    -ms-transform: rotateY(-180deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;

    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .back {
    z-index: 1000;
    background: #fff;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);

    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.frontTitle {
    padding-top:5px;
    text-align:center;
    font-size:18px;
    font-weight: bold;
    color:#000;
    height:45px;
}

.frontLogo {
    width:100%;
    height:200px;
    background-repeat:no-repeat;
    background-position:center center;
}

.frontLogo img {
    margin-top: 25px;
    height: 160px;
    width: 170px;
}

.backTitle {
    padding:10px;
    color:#000;
    font-size:16px;
    font-weight:bold;
}

.backParagraph {
    padding:10px;
    padding-top:0;
    color:#000;
    font-size:14px;
}

.backGoto {
    padding:10px;
    padding-top:0;
    color: #990f0d;
    font-size:14px;
}

.backGoto a {
    text-decoration:none;
    color: #990f0d;
    -webkit-transition:0.1s all linear;
    -moz-transition:0.1s all linear;
    -o-transition:0.1s all linear;
    transition:0.1s all linear;
}

.backGoto a:hover {
    text-decoration:underline;
    padding-left:15px;
}