/*---- General ----*/

body {
    background: #f24236;
}

#logo-ak {
    height: 50px;
    margin-left: 10px;
    margin-top: 7px;
}

/*---- Navigation ----*/

nav {
    background-image: linear-gradient(#d6897c, #870003);
}