@import url('https://fonts.googleapis.com/css?family=Cookie');

.xcontainer p {
    font-family: 'Cookie', cursive;
}

.xcontainer {
    background: #f24236;
    height: 100vh !important;
}

#days {
    font-size: 50px;
    color: #FFF;
    text-align: center;
    letter-spacing: 3px;
}

.drop {
    position: absolute;
    top: 0;
    z-index: 200;
    opacity: 0;
}

.snow {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px #FFF
}

.animate {
    animation: falling 8.5s infinite ease-in;
}


@keyframes falling {
    0% {top: 0; opacity: 1;}
    100% {top: 100vh; opacity: 0}
}