{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Blog {% endblock %}

{% block body %}

    <div class="row">
        <div class="col s12 center">
            <img src="{{ asset('img/incoming.jpg') }}" alt="Page en construction">
        </div>
    </div>

{% endblock %}